.hover {
    width: 90px;
    padding: 8px 18px;
    border: unset;
    border-radius: 8px;
    color: #FFFFFF;
    z-index: 1;
    background: #26282A;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 500ms;
    overflow: hidden;
   }
   
   .hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 8px;
    background-color: #2e2e2e;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 500ms
   }
   
   .hover:hover {
    color: #FFFFFF;
   }
   
   .hover:hover::before {
    width: 100%;
   }